.container {
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

body {
  /* Remove the background color from here if you want it to be controlled by JavaScript */
  /* background-color: lightseagreen; */
}

h1 {
  margin: 30px;
  text-shadow: 5px red;
  font-size: 8rem;
  color: #e60b0b;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  font-size: 3rem;
  color: red;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
h2{
  display: inline;
  font-size: 4rem;
  color: red;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.mini-dice {
  vertical-align: middle;
}
